
/*------------------------------JQUERY MESSAGE BAR------------------------------*/

.MessageBarWarning {
    padding: 1.5em;
    margin: 0;
    background: #CA0015;
    color: #FFF;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 2px solid #DAAA00;
    display: none;
    text-align: center;
}

    .MessageBarWarning a {
        color: #FFF;
        border-bottom: 1px solid #FFF;
    }

        .MessageBarWarning a:hover,
        .MessageBarWarning a:focus {
            border-bottom: 1px solid #CA0015;
        }

.MessageBarOk {
/*  padding: 1.5em;*/
    padding: 0.8em;
    margin: 0;
    background: #002855;
    color: #CCD4DD;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 2px solid #DAAA00;
    display: none;
    text-align: center;
}

    .MessageBarOk a {
        color: #CCD4DD;
        border-bottom: 1px solid #CCD4DD;
    }

        .MessageBarOk a:hover,
        .MessageBarOk a:focus {
            color: #CCD4DD;
            border-bottom: 1px solid #002855;
        }

#messageBarCloseBtn {
    cursor: pointer;
    z-index: 10000;
/*  height: 1em;
    width: 1em;*/
    height: 0.5em;
    width: 0.5em;
    position: absolute;
    right: 1.953125%;
/*  top: 1.5em;*/
    top: 0.8em;
    display: none;
}

#wrap {
    margin: 0px;
    padding: 0.5em;
}



/*------------------------------HEADER AREA------------------------------*/

#site_title_message {
    bottom: 0;
    margin: 0;
    padding: 0 0 15px 0;
    overflow: hidden;
    position: absolute;
    right: -10px;
}

    #site_title_message p {
        font-size: 1.1em;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    
    #site_title_message p a {
        background: url("https://cmsresources.ucdavis.edu:8443/cms_v2/images/common/arrow_small_right_blue.gif") no-repeat scroll right center #FFFFFF;
        color: #002855;
        display: block;
        font-weight: normal;
        margin: 0 0 -0.35em;
        padding: 0.2em 25px 0.2em 10px;
        border-bottom: 0px none;
    }
    
    #site_title_message p a:hover,
    #site_title_message p a:focus {
        background-color: #DAAA00;
    }




/*------------------------------NAV AREA------------------------------*/

#nav {
/* Uncomment the following line for rollover behavior
   Comment for push down behavior */
    position: absolute;
}


/*------------------------------LARGE PHOTO AREA------------------------------*/

#photo_container {
/* Comment the following line for rollover navigation behavior
   Uncomment for push down behavior */
/*  margin-top: -24px;*/
/* Uncomment the following line for rollover navigation behavior
   Comment for push down behavior */
    padding-top: 2.9em;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#photo #random_photo a {
    border-bottom: 0px none;
}

    #photo_pop {
        position: absolute;
        padding: 0;
/*    background: transparent url('/local_resources/images/home/gold_bg_transparent_85.png') repeat top left;*/
/*    font-family: "Futura", "FuturaStd", "Futura UC Davis", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;*/
        text-transform: uppercase;
        
        /* Fallback for web browsers that doesn't support RGBa */
        background: rgb(218, 170, 0) transparent;
        /* RGBa with 0.85 opacity */
        background: rgba(218, 170, 0, 0.85);
        /* For IE 5.5 - 7*/
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCDAAA00, endColorstr=#CCDAAA00);
        /* For IE 8*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCDAAA00, endColorstr=#CCDAAA00)";
        
    }

    .pp_top {
        top: 10%;
    }

    .pp_right {
        right: -20px;
    }

    .pp_bottom {
        bottom: 10%;
    }

    .pp_left {
        left: -20px;
    }

    #photo_pop a {
        display: block;
        color: #002855;
        font-size: 1.375em;
        font-weight: normal;
        border-bottom: 0px none;
    }

    .pp_right a {
        background: transparent url("/local_resources/images/home/arrow_right_blue_rightpad.gif") no-repeat scroll right center;
/*    background: transparent;*/
/*    padding: 0.5em 60px 0.5em 14px;*/
        padding: 0.5em 106px 0.5em 14px;
    }

    .pp_left a {
        background: transparent url("/local_resources/images/home/arrow_right_blue.gif") no-repeat scroll right center;
/*    background: transparent;*/
/*    padding: 0.5em 14px 0.5em 60px;*/
        padding: 0.5em 60px;
    }

    #photo_pop a:hover,
    #photo_pop a:focus {
        background-color: #E1BB33;
    }

    #photo_pop span.small_text {
        font-size: 0.75em;
        background: transparent;
    }

    
    /*------------------------------ABOUT THIS PHOTO BLOCK------------------------------*/

    #about_photo {
        background: #335377;
        position: absolute;
        bottom: 0;
        right: 0;
    /*  width: 21.67%;*/
        width: 22%;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

        #about_photo a {
            display: block;
            background: transparent url('https://cmsresources.ucdavis.edu:8443/cms_v2/images/common/arrow_small_right_fff.gif') scroll no-repeat 90% 50%;
            font-size: 0.75em;
            font-weight: bold;
            margin: 0;
    /*    padding: 0.125em 3.90625%;*/
            padding: 0.5em 3.90625%;
            border: 0 none;
            color: #FFF;
        }

            #about_photo a:hover,
            #about_photo a:focus {
                background: #002855 url('https://cmsresources.ucdavis.edu:8443/cms_v2/images/common/arrow_small_right_fff.gif') scroll no-repeat 90% 50%;
            }

/*  #about_photo_pop {
        background: transparent url('/local_resources/images/home/about_photo_pop.png') scroll no-repeat right bottom;
        position: absolute;
        top: 10%;
        right: 1px;
        z-index: 1;
        margin: 0;
        padding: 0 0 12px 0;
    }

        #about_photo_pop a {
            display: block;
            background: #C99700 url('https://cmsresources.ucdavis.edu:8443/cms_v2/images/common/arrow_small_right_fff.gif') scroll no-repeat 90% 50%;
            font-size: 0.75em;
            font-weight: bold;
            margin: 0;
            padding: 0.5em 35px 0.5em 10px;
            border: 0 none;
            color: #FFF;
        }

            #about_photo_pop a:hover,
            #about_photo_pop a:focus {
                background: #E1BB33 url('https://cmsresources.ucdavis.edu:8443/cms_v2/images/common/arrow_small_right_fff.gif') scroll no-repeat 90% 50%;
            }
*/    
    

/*------------------------------LOWER HALF OF PAGE------------------------------*/

.column {
    margin: 2% 0 1em 4%;
    padding: 0;
    float: left;
    overflow: hidden;
    width: 22%;
}

.column a {
    color: #333;
    border-bottom: 1px solid #999;
}

.column a:hover {
    border-bottom: 0px none;
}

.col_first {
    margin-left: 0% !important;
}

#main a.rss_feed {
/*  background: url("https://cmsresources.ucdavis.edu:8443/cms_v2/images/common/rss_small.png") no-repeat scroll 0 0 transparent;*/
    border: 0 none !important;
    float: right;
    height: 13px;
    margin: -1.6em 0 0;
    padding: 0 0.4em 0 0 !important;
    width: 13px;
}

    #main a.rss_feed:hover,
    #main a.rss_feed:focus {
        border: 0 none !important;
    }

img.main_img {
    width: 100%;
    border: 0 none;
}

    #main .column .content_box p.more_link {
        margin-top: 0.8em;
        clear: both;
    }

    #main .social_media .more_link {
        margin-top: 0.4em;
    }


    /*------------------------------MAIN COLUMNS------------------------------*/
    
    #main .column .feed {
        border-bottom: 0px none;
    }
    
        #main .column .feed ul {
            font-weight: bold;
        }
    
    
    /*------------------------------LEFT COLUMN------------------------------*/

    #main .column .campaign {
        border-bottom: 1px solid #DAAA00;
        border-left: 1px solid #DAAA00;
        border-right: 1px solid #DAAA00;
        overflow: visible;
    }
    
        #main .column .campaign h2 {
            margin: 0 -1px;
        }
        
        #main .column .campaign h3 {
            font-size: 0.9em;
            margin: 0.4em 10px 0;
            padding: 0;
        }
    
        #main .column .campaign p {
            margin: 0.3em 10px 0;
        }
    
        #main .column .campaign .campaign_img {
            position: relative;
            overflow: hidden;
        }
    
        #main .column .campaign .campaign_img img.logo, #main .column .campaign .mm_wrapper img.logo {
            position: absolute;
            right: 10px;
            bottom: 10px;
            border: 0 none;
            width: auto;
        }
        
        #main .column .campaign .mm_wrapper img.logo {
            z-index: 0;
        }
    
        #main .column .campaign p.more_link {
            padding: 0;
            margin: 0.3em 0 0;
        }
        

    .public_service {
        border: 1px solid #B2B2B2;
        margin: 0 0 1.5em 0;
        padding: 0;
        position: relative;
        height: 5.5em;
        overflow: hidden;
    }
        
        .public_service img {
            width: 100%;
        }
        
/*    .public_service a.text {
            height: 5.5em;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0.5em 10px 4.5em;
            color: #002855;
            text-transform: uppercase;
            background: transparent url('/local_resources/images/common/arrow_public_service_unhover.gif') scroll no-repeat 85% 15%;
        }
*/    
        #main .public_service a.text {
            /*display: block;*/
            height: 5.5em;
            /*width: 100%;*/
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0.5em 50px 0.5em 10px;
            font-weight: bold;
            color: #002855;
            background: transparent rl('/local_resources/images/common/arrow_public_service_unhover.gif') scroll no-repeat 95% 20%;
        }

        #main .public_service a.text:hover,
        #main .public_service a.text:focus {
            background: transparent url('/local_resources/images/common/arrow_public_service.gif') scroll no-repeat 95% 20%;
        }
        
/*    .public_service a.text:hover,
        .public_service a.text:focus {
            background: transparent url('/local_resources/images/common/arrow_public_service.gif') scroll no-repeat 85% 15%;
        }
*/    
    /*------------------------------NEWS COLUMN------------------------------*/
    
/*  FOR TOP NEWS ITEM AND EVENT*/
    
    .featured {
/*    background-color: #CCD4DD;*/
        padding-bottom: 0.75em;
        margin: 0 0 0.5em 0;
        border-bottom: 2px solid #DAAA00;
    }
    
/*    .featured a:hover,
        .featured a:focus {
            border-bottom: 1px solid #CCD4DD !important;
        }*/
        
/*  TO SEPARATE LOWER NEWS ITEMS AND EVENTS*/
    
    .unfeatured {
        border: 1px solid #B2B2B2;
        padding: 0;
        margin: 0.5em 0 0 0;
    }
    
    .unfeatured2 {
        border-top: 2px solid #DAAA00;
        padding: 0;
        margin: 0.5em 0 0 0;
    }
    
    .unfeatured_head {
        padding: 0.3em 10px !important;
        font-size: 0.8em !important;
        background-color: #CCD4DD !important;
        color: #002855 !important;
        margin: 0 !important;
/*    width: 66%;*/
    }

    .news {
/*    border: 1px solid #B2B2B2;*/
/*    border: 1px solid #002855;*/
        color: #333;
    }

        .news h2 {
            color: #FFF;
/*        background: #4D6988;*/
            background: #002855;
            font-size: 0.9em;
            font-weight: normal;
            margin: 0;
            padding: 0.4em 10px 0.5em;
/*        padding: 0.6em 20px 0.7em;*/
/*        padding: 0.6em 20px 0.5em;*/
            text-transform: none;
            border-bottom: 2px solid #DAAA00;
        }
    
        .news h3 {
            font-size: 0.8em;
            margin: 0;
/*        padding: 1em 20px 0;*/
/*        padding: 1em 0 0;*/
            padding: 0.2em 0 0.8em;
/*        padding: 0.7em 0;*/
        }
    
            .news h3.top_news {
                font-size: 1em;
                padding: 0.7em 0 0.4em;
            }
            
        .news h4 {
            font-size: 0.8em;
            margin: 0;
/*        padding: 1em 20px 0;*/
/*        padding: 1em 0 0;*/
            padding: 0.5em 10px;
        }
        
        .news p {
            font-size: 0.85em;
            margin: 0;
/*        padding: 0.8em 20px 0.2em;*/
            padding: 0.2em 0 0.8em;
        }
    
    /*------------------------------EVENTS COLUMN------------------------------*/

    .events {
/*    border: 1px solid #B2B2B2;*/
/*    border: 1px solid #002855;*/
    }
    
        .events #top_event_image a {
            border-bottom: 0px;
        }
    
        .events h2 {
            color: #FFF;
/*        background: #4D6988;*/
            background: #002855;
            font-size: 0.9em;
            font-weight: normal;
            margin: 0;
            padding: 0.4em 10px 0.5em;
/*        padding: 0.6em 20px 0.7em;*/
/*        padding: 0.6em 20px 0.5em;*/
            text-transform: none;
            border-bottom: 2px solid #DAAA00;
        }
    
        .events h3 {
            font-size: 0.8em;
            margin: 0;
/*        padding: 1em 20px 0;*/
            padding: 1em 0 0;
        }
    
            .events h3.top_news {
                font-size: 1em;
            }
        
        .events p {
            font-size: 0.85em;
            margin: 0;
/*        padding: 0 20px 0.8em;*/
            padding: 0 0 0.8em;
        }
        
        
    ul.tabs {
        margin: 0;
        padding: 0;
        float: left;
        list-style-type: none;
        /*height: 32px;*/ /*--Set height of tabs--*/
        border-bottom: 1px solid #B2B2B2;
/*    border-left: 1px solid #B2B2B2;*/
        width: 100%;
    }
    
        ul.tabs li {
            float: left;
            /*height: 31px;*/ /*--Subtract 1px from the height of the unordered list--*/
            /*line-height: 31px;*/ /*--Vertically aligns the text within the tab--*/
            border-bottom: 1px solid #B2B2B2;
            border-right: 1px solid #B2B2B2;
            margin-bottom: -1px; /*--Pull the list item down 1px--*/
            overflow: hidden;
            position: relative;
            background: #E0E0E0;
        }
    
            ul.tabs li a {
                text-decoration: none;
                color: #002855;
                display: block;
/*            font-size: 1.2em;*/
/*            padding: 0 10px;*/
                /*border: 1px solid #fff;*/ /*--Gives the bevel look with a 1px white border inside the list item--*/
                outline: none;
                border-bottom: 0 none;
                color: #002855;
                font-size: 0.9em;
                font-weight: normal;
                margin: 0;
                padding: 0.6em 20px 0.7em 15px;
                text-transform: uppercase;
            }
    
            ul.tabs li a:hover {
/*            background: #CCC;*/
                border: 0 none;
            }
    
            html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
                background: #FFF;
                border-bottom: 1px solid #FFF; /*--Makes the active tab look like it's connected with its content--*/
                margin-bottom: -1px; /*--Russ added this because of the quirky border stuff going on--*/
                /*border-bottom: 0 none;*/ /*--Makes the active tab look like it's connected with its content--*/
            }
            
    .tab_container {
/*    border: 1px solid #B2B2B2;*/
        border-top: 0 none;
        overflow: hidden;
        clear: both;
        float: left; 
        width: 100%;
        background: #FFF;
    }
    
/*  .tab_content {
        padding: 20px;
        font-size: 1.2em;
    }*/

    /*------------------------------RIGHT COLUMN------------------------------*/

    .right {
    
    }

        .health_buttons {
/*        border-bottom: 2px solid #DAAA00;*/
        }
        
            .health_buttons h2 {
                color: #FFF;
    /*        background: #4D6988;*/
                background: #002855;
                font-size: 0.9em;
                font-weight: normal;
                margin: 0;
                padding: 0.4em 10px 0.5em 10px;
                text-transform: none;
                border-bottom: 2px solid #DAAA00;
            }
    
            .health_buttons ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
    
                .health_buttons ul li {
                    margin: 0;
                    padding: 0;
                }
    
                    .health_buttons ul li a {
                        display: block;
                        color: #002855;
                        border-bottom: 1px solid #B2B2B2;
                        font-size: 0.85em;
                        font-weight: bold;
                        margin: 0 0 0.5em 0;
                        padding: 1em 80px 1.3em 10px;
                        text-transform: uppercase;
                        height: 3em;
                    }
                
                    .health_buttons ul li a.hs {
                        background: #FFF url('/local_resources/images/home/health_care_buttons_sm_ucdmc.jpg') scroll no-repeat bottom right;
                    }
                
                    .health_buttons ul li a.vmth {
                        background: #FFF url('/local_resources/images/home/health_care_buttons_sm_vmth.jpg') scroll no-repeat bottom right;
                    }
                    
                    .health_buttons ul li a.sh {
                        background: #FFF url('/local_resources/images/home/health_care_buttons_sm_sh.jpg') scroll no-repeat bottom right;
                    }
                    
                    .health_buttons ul li a.hs:hover,
                    .health_buttons ul li a.hs:focus {
                        background: #B2BECC url('/local_resources/images/home/health_care_buttons_sm_ucdmc_hover.jpg') scroll no-repeat bottom right;
                    }
                    
                    .health_buttons ul li a.vmth:hover,
                    .health_buttons ul li a.vmth:focus {
                        background: #B2BECC url('/local_resources/images/home/health_care_buttons_sm_vmth_hover.jpg') scroll no-repeat bottom right;
                    }
                    
                    .health_buttons ul li a.sh:hover,
                    .health_buttons ul li a.sh:focus {
                        background: #B2BECC url('/local_resources/images/home/health_care_buttons_sm_sh_hover.jpg') scroll no-repeat bottom right;
                    }
                    
        
        .special {
            margin: 1.5em 0 0 0;
            padding: 0 0 1em 0;
            border-bottom: 2px solid #DAAA00;
/*        background: #B2BECC;*/
            background: #002855;
            color: #FFF;
        }
        
            .special h2 {
                color: #FFF;
                font-size: 0.9em;
                font-weight: normal;
                margin: 0;
                padding: 0.6em 10px 0;
                text-transform: uppercase;
            }
            
            .special h3 {
                font-size: 1em;
                margin: 0;
                padding: 1em 10px 0;
            }
        
            .special p {
                font-size: 0.85em;
                margin: 0;
                padding: 0.4em 10px 0.6em;
            }
            
            .special a {
                color: #FFF;
                border-bottom: 1px solid #FFF;
            }

                .special a:hover,
                .special a:focus {
                    color: #B2BECC;
                    border-bottom: 1px solid #B2BECC;
                }
                
                .special a:visited {
                    color: #FFF;
                }
                    
/*------------------------------BRANDING SECTION------------------------------*/

    #brand {
        margin: 0;
        padding: 2em 0;
        clear: both;
        text-align: center;
    }
    
        #brand a {
            border-bottom: 0 none;
        }
    
        #brand img {
            border: 0 none;
        }
